html,
body {
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

#chartContainer {
	
	text-align: left;
	left: 80px;
	position: absolute;

}

.contentContainer {

	margin: 5px;
	padding: 5px;

}

.chartContainer {

	display: inline-block;
	border: 1px solid rgb(224, 224, 224);
	margin: 5px;
	padding: 5px;
	position: relative;

}

.chartWrapper {

	position: relative;
	display: inline-block;
	margin: 20px;
	box-sizing: border-box;
	width: 662px;

}

.chart {

	position: relative;
	left: 60px;

}

.y_axis {

	position: absolute;
	top: 0;
	bottom: 0;
	width: 60px;

}

.chartTitle {
	border-bottom: 1px solid rgb(224, 224, 224);
	color: rgb(129, 129, 129);
	margin: -5px -5px 10px -5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.menu {
	position: absolute;
	right: 0px;
	top: 0px
}

.item {

	width: 28px;
	height: 28px;
	border-left: 1px solid rgb(224, 224, 224);
	line-height: 28px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}

.item:hover {

	background-color: rgb(224, 224, 224);
	color: white;

}

.iconMenu {

	position: absolute;
	top: 0px;
	line-height: 29px;
	right: 35px;
	display: none;

}

.hidden {
	display: none;
}

label {
	font-weight: normal;
}

input[type="radio"]:checked+label{ font-weight: bold; } 