{{> global/partials/header}}

<div id="chartContainer">
</div>

<script>
	
	window.globals = {};
	window.globals.retentionLength = 500;
	window.globals.charts = {{{ charts }}};

	document.onready = function () {

		//Prefill with host because we are nice guys.
		var url = prompt('Websocket URL for Firejose? (i.e localhost:7001)', window.location.hostname);
		var ws  = new WS(url);

	}

</script>

{{> global/partials/footer}}