{{> global/partials/header}}

<div id="chartContainer">
</div>

<script>
	
	document.onready = function () {

		var url = prompt('Websocket URL for Firejose? (i.e localhost:7001)');
		var ws = new WS(url);

	}

</script>

{{> global/partials/footer}}