<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/js/d3/d3.min.js"></script>
        <script src="/js/d3/d3.layout.min.js"></script>
        <script src="/js/rickshaw/rickshaw.min.js"></script>
        
        <script src="/js/firejose/charts.js"></script>
        <script src="/js/firejose/ws.js"></script>
        
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="/css/rickshaw/rickshaw.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>


